<div id="query-properties-container">
	<div id="queries" class="row-container">
		<div class="search-box q1 boxed">
			<div class="query-input q1"></div>
			<div class="query-properties q1"></div>
		</div>
		<div class="search-box q2 boxed">
			<div class="query-input q2"></div>
			<div class="query-properties q2"></div>
		</div>
	</div>
	<div id="timesliders" class="row-container">
		<div class="timeslider q1 boxed">
		</div>
		<div class="timeslider q2 boxed">
		</div>
	</div>
	<div id="timeseries" class="boxed"></div>
	<div id="facets" class="boxed"></div>
</div>
<div id="results-container">
	<div class="results q1 boxed">
		<div class="hits q1"></div>
		<div class="pagination pagination-small pagination-right q1"></div>
	</div>
	<div class="results q2 boxed">
		<div class="hits q2"></div>
		<div class="pagination pagination-small pagination-right q2"></div>
	</div>
</div>
