<div id="loginmodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
        <div class="logo">
            <img src="static/img/logo_avresearcher_b.png" />
        </div>
        <div id="userinput">
            <h1>Please sign in</h1>
            <div class="errors alert alert-error">
                <ul></ul>
            </div>
            <form id="loginform" class="form-signin">
                <input type="text" name="email" class="input-block-level" placeholder="Email address">
                <input type="password" name="password" class="input-block-level" placeholder="Password">
                <button class="btn btn-large btn-primary" type="submit">Sign In</button>
                <a href="#register" class="btn btn-large btn-warning">Create a new account</a>
            </form>
        </div>
        <div class="loading">
            <img src="static/img/spinner.gif" />
        </div>
    </div>
</div>
