<h1 id="logo"><a href="" class="ir">AVResearcher</a></h1>
<ul class="main-menu">
    <li><a href="#" data-name="home">Search</a></li>
    <li><a href="#about" data-name="about">About</a></li>
    <li><a href="#help" data-name="help">Help</a></li>
</ul>

<ul class="pull-right user-menu">
    <li>
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <span class="username"></span>
                <i class="icon-user large"></i>
                <span class="caret"></span>
            </a>
            <!-- Link or button to toggle dropdown -->
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                <li><a tabindex="-1" href="#logout">Logout</a></li>
            </ul>
        </div>
    </li>
</ul>
