body {
	background: #eee;
}

/* General */
.boxed {
	background-color: #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: rgba(0,0,0,0.25) 0 1px 4px;
	-moz-box-shadow: rgba(0,0,0,0.25) 0 1px 4px;
	box-shadow: rgba(0,0,0,0.25) 0 1px 4px;
	padding: 10px;
	margin-bottom: 15px;
}

.row-container::before, .row-container::after {
	display: table;
	line-height: 0;
	content: '';
}

.row-container::after {
	clear: both;
}

/* Header */
.main-nav {
	height: 44px;
	padding: 0 20px;
	margin: 0 0 30px 0;
	background-color: #1b1b1b;
	background-image: -moz-linear-gradient(top, #222222, #111111);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
	background-image: -webkit-linear-gradient(top, #222222, #111111);
	background-image: -o-linear-gradient(top, #222222, #111111);
	background-image: linear-gradient(to bottom, #222222, #111111);
	background-repeat: repeat-x;
	border-color: #252525;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

#logo {
	margin: 0;
	padding: 2px 0 0 0;
	float:left;
}

#logo a {
	background: url(../img/logo_avresearcher.png);
	height: 40px;
	width: 318px;
}

.main-nav ul.main-menu {
	float: left;
	list-style: none;
	padding: 0;
	margin: 0 0 0 50px;
}

.main-nav ul.user-menu {
    margin: 0 10px 0 0;
    list-style: none;
    padding: 0;
}

.main-nav ul.main-menu > li {
	float: left;
}

.main-nav ul.main-menu > li a,
.main-nav ul.user-menu > li .dropdown > a {
	display: block;
	height: 44px;
	padding: 0 30px;
	font-size: 14px;
	text-align: center;
	line-height: 44px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
    cursor: pointer;
}

.main-nav ul.main-menu > li a:hover,
.main-nav ul.user-menu > li .dropdown > a:hover {
	background-color: #fff;
	color: #000;
}

.main-nav ul.main-menu > li a.active {
	color: #000;
	background-color: #fce300;
	background-image: -moz-linear-gradient(top, #F5D700, #F0D800);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F5D700), to(#F0D800));
	background-image: -webkit-linear-gradient(top, #F5D700, #F0D800);
	background-image: -o-linear-gradient(top, #F5D700, #F0D800);
	background-image: linear-gradient(to bottom, #F5D700, #F0D800);
	background-repeat: repeat-x;
}

.main-nav ul.user-menu span.caret {
    border-top-color: #fff !important;
    border-bottom-color: #fff !important;
    margin-top: 20px;
}

.main-nav ul.user-menu > li:hover span.caret {
    border-top-color: #000 !important;
    border-bottom-color: #000 !important;
}

#querysyntax table td {
    line-height: 17px;
    font-size: 12px;
}

#querysyntax table td.operator {
    width: 35%;
}

/* Login & registartion */
.modal {
    width: 400px;
    margin-left: -200px;
}

.modal .logo {
    text-align: center;
    margin-bottom: 10px;
}

.modal h1 {
    font-size: 18px;
    text-align: center;
}

.modal .loading {
    text-align: center;
    display: none;
}

.modal .errors {
    display: none;
}

.modal .errors ul {
    margin-bottom: 0;
}

#registermodal .control-label {
    width: 90px;
}

#registermodal .controls {
    margin-left: 110px;
}

/* Registartion verification */
#registration_verification {
    width: 350px;
    margin: 30px auto 0 auto;
    padding: 10px;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,0.25) 0 1px 4px;
    -moz-box-shadow: rgba(0,0,0,0.25) 0 1px 4px;
    box-shadow: rgba(0,0,0,0.25) 0 1px 4px;
}

#registration_verification .logo {
    text-align: center;
    margin-bottom: 10px;
}

#registration_verification h1 {
    font-size: 15px;
    line-height: 18px;
}
/* Queries */
.search-box {
	width: 47%;
	float: left;
	z-index: 100;
	position: relative;
}

.search-box:last-child {
	float: right;
}

.search-box.q1 {
	border: 2px solid #009fda;
}

.search-box.q2 {
	border: 2px solid #e00034;
}

.search-box form {
	margin: 0;
}

.search-box .input-append {
	margin: 0;
    float: left;
}

.search-box ul.fields {
    margin: 6px 0 0 10px;
    padding: 0;
    float: left;
    list-style: none;
}

.search-box ul.fields li {
    float: left;
    margin: 0 4px 0 0;
}

.search-box ul.fields i {
    font-size: 18px;
    cursor: pointer;
    opacity: 0.3;
    -webkit-transition:opacity .15s linear;
    -moz-transition:opacity .15s linear;
    -o-transition:opacity .15s linear;
    transition:opacity .15s linear;
}

.search-box ul.fields i:hover {
    color: #fce300;
}

.search-box ul.fields i.active, .search-box ul.fields i:hover {
    opacity: 1;
}

.search-box .query-properties {
    clear: both;
}

/* Timesliders */
.timeslider {
	margin-top: -23px;
	width: 39%;
	float: left;
	padding: 0 2%;
	position: relative;
	z-index: 0;
}

.timeslider:first-child {
	margin-left: 4%;
}

.timeslider:last-child {
	float: right;
	margin-right: 4%;
}

.slider {
	margin: 20px 0 5px 0;
}

.slider.ui-slider {
    position: relative;
    text-align: left;
    height: .4em;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(top, #c1c1c1 0%,#e5e5e5 100%);
    background-image: -moz-linear-gradient(top, #c1c1c1 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1c1c1', endColorstr='#ffe5e5e5', GradientType=0);
    color: #333;
    border-radius: 4px;
}

.slider .ui-slider-range {
    background-color: #aed026;
    background-image: -webkit-linear-gradient(top, #f1d800 0%,#d3bd00 100%);
    background-image: -moz-linear-gradient(top, #f1d800 0%,#d3bd00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aed026', endColorstr='#97bd00', GradientType=0);
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    font-size: .3em;
    display: block;
    border: 0;
    top: 0;
    height: 100%;
}

.slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: .8em;
    height: .8em;
    cursor: default;
    top: -.3em;
    margin-left: -.6em;
    border: 1px solid #f9f9f9;
    border-radius: 8px;
    background-color: #aed026;
    background-image: -webkit-linear-gradient(top, #e7e7e7 0%,#d9d9d9 100%);
    background-image: -moz-linear-gradient(top, #e7e7e7 0%,#d9d9d9 100%);
    background-image: linear-gradient(#e7e7e7, #b0b0b0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#18add8', endColorstr='#0095c0', GradientType=0);
    box-shadow: 0 1px 0 #fff inset,0 6px 9px #d0d0d0 inset,0 1px 3px #aaa;
    font-weight: bold;
    color: #1c94c4;
}

.slider .ui-slider-handle:hover {
    border: 1px solid #aed026;
}

.slider a.ui-slider-handle:focus,
.slider a.ui-slider-handle:hover {
    outline: 0;
    cursor: pointer;
    border: 1px solid #aed026;
}

.timeslider .slider-lower-val {
    float:left;
    margin-left: -12px;
}

.timeslider .slider-upper-val {
    float: right;
    margin-right: -12px;
}

.timeslider .slider-lower-val, .timeslider-container .slider-upper-val {
    padding: 0 3px;
    font-size: 11px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    background-color: #b0b0b0;
    border: 1px solid #7f7f7f
}

/* Facets */
#facets.boxed {
    padding: 10px 10px 0 10px;
}

#facets .representation {
    padding: 4px 12px;
    margin-right: 3px;
    color: #08c;
    cursor: pointer;
}

#facets .representation.active {
    color: #555;
    cursor: default;
    border: 1px solid #ddd;
    border-bottom-color: #fff;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0
}

#facets .representation.inactive:hover , #facets .representation.inactive:focus {
    color: #005580;
    background-color: #eee;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    border: 1px solid #eee;
}

svg.barchart .y.axis path, svg.barchart .y.axis line {
    display: none;
}

.tab-pane .q1 .cloud, .tab-pane svg.q1 {
    width: 46.5%;
    float: left;
}

.tab-pane .q2 .cloud, .tab-pane svg.q2 {
    float: right;
    width: 46.5%;
}

.cloud ul {
    padding: 0 0 10px 0;
    list-style: none;
    margin: 0;
}

.cloud ul li {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
}

.q1 .cloud, svg.q1 {
    border-bottom: 2px solid #009fda;
}

.q2 .cloud, svg.q2 {
    border-bottom: 2px solid #e00034;
    float: right;
}

svg.barchart rect.q1 {
    fill: #009fda;
}

svg.barchart rect.q2 {
    fill: #e00034;
}

svg.barchart g.axis g text {
    font-size: 11px;
}

i.icon-bar-chart.selected:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* IE8 and earlier */
}

i.icon-bar-chart.not-selected {
    opacity: 0.5;
    filter: alpha(opacity=50); /* IE8 and earlier */
}

i.icon-bar-chart.not-selected:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* IE8 and earlier */
}

/* Results */
.results {
	width: 48%;
	float: left;
	padding: 0;
}

.results:last-child {
	float: right;
}

.results.q1 {
	border: 2px solid #009fda;
}

.results.q2 {
	border: 2px solid #e00034;
}

.hits ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.hits ul > li {
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid #D8D8D8;
}

.hits ul > li:hover {
	background: #F5F5F5;
}

.hits h2 {
	font-size: 20px;
	line-height: 25px;
}

.hits ul > li li {
	border: none;
	padding: 0;
    width: 100%;
}

.hits ul em {
    font-weight: bold;
}

.hits ul .description {
    float:left;
    width: 100%;
}

.hits ul .description i {
    float: left;
    width: 5%;
    font-size: 16px;
    margin-top: 3px;
    margin-left: -4px;
}

.hits ul .description p.snippet {
    float: left;
    width: 93%;
}

.hits ul.metadata {
    clear:both;
	font-size: 12px;
	opacity: 0.75;
	-webkit-transition:opacity .15s linear;
	-moz-transition:opacity .15s linear;
	-o-transition:opacity .15s linear;
	transition:opacity .15s linear;
}

.hits ul.metadata:hover {
	opacity: 1;
}

.hits ul.metadata i {
	margin-top: -1px;
}

.pagination {
	margin: 13px 0 0 0;
}

/* SVG timeseries */
svg .line {
	fill: none;
	stroke-width: 1.5px;
}

svg .axis path,
svg .axis line {
	shape-rendering: crispEdges;
	stroke: #000;
	fill: none;
}

g.axis g line {
    stroke: lightgrey;
    opacity: 0.7;
    margin-top: 5px;
    font-size: 12px;
}

/* About page */
#about #collectionstats {
    background-color: #e00034;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,0.25) 0 1px 4px;
    -moz-box-shadow: rgba(0,0,0,0.25) 0 1px 4px;
    box-shadow: rgba(0,0,0,0.25) 0 1px 4px;
    color: #fff;
}

#about #collectionstats ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: rgba(0,0,0,0.25) 0 1px 2px;
}

#about #collectionstats ul span {
    font-size: 28px;
    margin-left: -2px;
    margin-bottom: 6px;
    clear: both;
    display: block;
}

#about #collectionstats ul li {
    margin-bottom: 22px;
}

#about #collectionstats ul li:last-child {
    margin-bottom: 0;
}

/* for image replacement */
.ir {
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}
